<mat-toolbar color="primary">
  <mat-icon>headphones</mat-icon>
  <span class="spacer"></span>
  <span>MusicTool</span>
  <button class="ms-3" mat-button [matMenuTriggerFor]="menuLibrary">Library</button>
  <button class="ms-3" mat-button [matMenuTriggerFor]="menuUsers">Users</button>
  <button class="ms-3" mat-button [matMenuTriggerFor]="menuContents">Contents</button>
</mat-toolbar>

<mat-menu #menuLibrary="matMenu">
  <button mat-menu-item routerLink="/curi/nuevo">
    <mat-icon color="primary">favorite</mat-icon>
    Crear</button>
  <button mat-menu-item routerLink="/curi/listar">
    <mat-icon color="primary">more_vert</mat-icon>
    Listar</button>
</mat-menu>

<mat-menu #menuUsers="matMenu">
  <button mat-menu-item routerLink="/curi/nuevo">
    <mat-icon color="primary">favorite</mat-icon>
    Crear</button>
  <button mat-menu-item routerLink="/curi/listar">
    <mat-icon color="primary">more_vert</mat-icon>
    Listar</button>
</mat-menu>

<mat-menu #menuContents="matMenu">
  <button mat-menu-item routerLink="/curi/nuevo">
    <mat-icon color="primary">favorite</mat-icon>
    Crear</button>
  <button mat-menu-item routerLink="/curi/listar">
    <mat-icon color="primary">more_vert</mat-icon>
    Listar</button>
</mat-menu>



<router-outlet></router-outlet>